<div class="content-close-button-container">
  {{#link-to 'index' class="content-close-button"}}×{{/link-to}}
</div>

<div class="content cell large-5 large-order-3">
  <div class="profile-image-container">
    {{#if model.images.isIdle}}
      {{#if model.images.lastSuccessful.value.length}}
        {{#slick-slider
          autoplay=true
          autoplaySpeed=4000
          pauseOnHover=true
          pauseOnDotsHover=true
          arrows=false
          dots=true
        }}
          {{#each model.images.lastSuccessful.value as |image|}}
            {{background-image-div image=image}}
          {{/each}}
        {{/slick-slider}}
      {{else}}
        <div class="profile-image" style="background-image: url('/images/w.png');">
          <div class="no-photo-message">This profile does not have a photo.</div>
        </div>
      {{/if}}
    {{/if}}
  </div>

  <div class="grid-x grid-margin-x-gutter-small">
    <div class="cell medium-auto">

      <h1 class="header-large no-margin">{{model.park_name}}</h1>
      <p class="header-medium dark-gray">{{model.address}}</p>

    </div>
    <div class="cell medium-shrink">

      {{#if model.construction_status}}
        <h5 class="{{if isConstructed 'green-dark' 'red'}}">
          <span class="fa-layers">
            {{#if isConstructed}}
              {{fa-icon 'check' class="green-muted"}}
            {{else}}
              {{fa-icon 'screwdriver' transform='rotate-270' class='silver'}}
              {{fa-icon 'wrench' class="light-gray"}}
            {{/if}}
          </span>
          {{model.construction_status}}
          <sup>
            {{icon-tooltip
              tip='The construction status reflects the best available information at the time of website update. Please note that site status may have changed and sites may occasionally need to be temporarily partially or fully closed for maintenance or safety reasons.'
              icon='exclamation-circle'
              class="dark-gray"
            }}
          </sup>
          {{!-- {{model.status}} --}}
          {{!-- TODO: ^ These two are basically the same. Which should display? Are they chosen from a list or entered freeform? --}}
        </h5>
      {{/if}}

    </div>
  </div>

  <div class="grid-x grid-margin-x-gutter-small">
    <div class="cell medium-7">

      {{#if model.hours_of_operation}}
        <h6 class="gray no-margin">Hours</h6>
        <p><strong>{{model.hours_of_operation}}</strong></p>
      {{/if}}

      {{#if model.description}}
        <p>{{model.description}}</p>
      {{/if}}

      {{#if model.spw_in_ft}}
        <h6 class="gray no-margin">Shore Public Walkway Linear Feet</h6>
        <p><strong>{{model.spw_in_ft}}</strong></p>
      {{/if}}

      {{#if model.spaa_total_in_sf}}
        <h6 class="gray no-margin">WPA(?) Total Access Area in sq ft</h6>
        <p><strong>{{model.spaa_total_in_sf}}</strong></p>
      {{/if}}

      {{#if model.agency}}
        <p>
          <h6 class="gray no-margin">Maintained By</h6>
          {{model.agency}}
        </p>
      {{/if}}

      {{#if model.water_body}}
        <p>
          <h6 class="gray no-margin">Adjacent Waterway</h6>
          {{model.water_body}}
        </p>
      {{/if}}

      {{#if model.restrictive_declaration_id}}
        <h6 class="gray no-margin">Restrictive Declaration ID</h6>
        <p>{{model.restrictive_declaration_id}}</p>
      {{/if}}

    </div>
    <div class="cell medium-5">

      {{#if hasSiteFeatures}}
        <h6 class="gray no-margin">Site Features</h6>
        <p class="label-group">
          {{~#if model.feature_promenade_esplanade}}<span class="label secondary">Promenade/Esplanade</span>{{/if~}}
          {{~#if model.feature_seating_lawn}}<span class="label secondary">Seating Lawn</span>{{/if~}}
          {{~#if model.feature_pier}}<span class="label secondary">Pier</span>{{/if~}}
          {{~#if model.feature_wetland_natural_edge}}<span class="label secondary">Wetland/Natural Edge</span>{{/if~}}
          {{~#if model.feature_dog_run}}<span class="label secondary">Dog run</span>{{/if~}}
          {{~#if model.feature_educational_or_interpretive}}<span class="label secondary">Educational or Interpretive</span>{{/if~}}
          {{~#if model.feature_public_restroom}}<span class="label secondary">Public restroom</span>{{/if~}}
          {{~#if model.feature_shade_structure}}<span class="label secondary">Shade structure</span>{{/if~}}
          {{~#if model.feature_outdoor_art}}<span class="label secondary">Outdoor art</span>{{/if~}}
          {{~#if model.feature_food_or_beverage_concessions}}<span class="label secondary">Food or Beverage Concessions</span>{{/if~}}
          {{~#if model.feature_group_seating}}<span class="label secondary">Group Seating</span>{{/if~}}
        </p>
      {{/if}}

      {{#if hasActiveUseAmenities}}
        <h6 class="gray no-margin">Active Use Amenities</h6>
        <p class="label-group">
          {{~#if model.activity_volleyball_court}}<span class="label secondary">Volleyball Court</span>{{/if~}}
          {{~#if model.activity_basketball_court}}<span class="label secondary">Basketball Court</span>{{/if~}}
          {{~#if model.activity_fishing}}<span class="label secondary">Fishing</span>{{/if~}}
          {{~#if model.activity_boating_access}}<span class="label secondary">Boating/In-water Access</span>{{/if~}}
          {{~#if model.activity_tot_playground}}<span class="label secondary">Tot Playground</span>{{/if~}}
          {{~#if model.activity_splash_feature}}<span class="label secondary">Splash Feature</span>{{/if~}}
          {{~#if model.activity_other_recreational_facilities}}<span class="label secondary">Other Recreational (Bocce, Skate Park, etc)</span>{{/if~}}
          {{~#if model.activity_swimming}}<span class="label secondary">Swimming</span>{{/if~}}
        </p>
      {{/if}}

      {{#if model.cpc_report}}
        <p><a class="button small gray expanded" href="{{model.cpc_report}}" target="_blank">{{fa-icon 'external-link-alt'}} City Planning Commission (CPC) Report</a></p>
      {{/if}}

      {{#if model.zap_link}}
        <p><a class="button small gray expanded" href="{{model.zap_link}}" target="_blank">{{fa-icon 'external-link-alt'}} Zoning Application Portal (ZAP) Record</a></p>
      {{/if}}

      {{#if model.restrictive_declaration_link}}
        <p><a class="button small gray expanded" href="{{model.restrictive_declaration_link}}" target="_blank">{{fa-icon 'external-link-alt'}} Restrictive Declaration (ACRIS)</a></p>
      {{/if}}

      {{#if model.date_cpc_approval}}
        <h6 class="gray no-margin">CPC Approval</h6>
        <p>{{model.date_cpc_approval}}</p>
      {{/if}}

      {{#if model.date_chair_certification}}
        <h6 class="gray no-margin">Chair Certification</h6>
        <p>{{model.date_chair_certification}}</p>
      {{/if}}

      {{#if model.date_received}}
        <h6 class="gray no-margin">Received</h6>
        <p>{{model.date_received}}</p>
      {{/if}}

    </div>
  </div>

</div>
