<div class="content-close-button-container">{{#link-to 'index' classNames='close-button'}}<span aria-hidden="true">&times;</span>{{/link-to}}</div>

<div class="content-area cell large-5 large-cell-block-y xxlarge-4">
  <h1>{{model.park_name}}</h1>

  {{model.paws_id}} <br>
  {{model.park_name}} <br>
  {{model.address}} <br>
  {{model.agency}} <br>
  {{model.paws_id}} <br>
  {{model.category}} <br>
  {{model.status}} <br>
  {{model.water_body}} <br>
  {{model.cpc_report}} <br>
  {{model.date_cpc_approval}} <br>
  {{model.date_chair_certification}} <br>
  {{model.date_lucats_completed}} <br>
  {{model.date_received}} <br>
  {{model.hours_of_operation}} <br>
  {{model.construction_status}} <br>
  {{model.restrictive_declaration_id}} <br>
  {{model.description}} <br>
  {{model.spw_in_ft}} <br>
  {{model.spaa_total_in_sf}} <br>



  {{model.bike_racks}} <br>
  {{model.boat_launch}} <br>
  {{model.designated_bike_path}} <br>
  {{model.emergency_access}} <br>
  {{model.entry_gates}} <br>
  {{model.ferry_watertaxi__service}} <br>
  {{model.ground_cover}} <br>
  {{model.ground_floor_retail}} <br>
  {{model.guardrail}} <br>
  {{model.handicapped_accessible}} <br>
  {{model.lighting}} <br>
  {{model.piers}} <br>
  {{model.public_access_easement}} <br>
  {{model.public_art}} <br>
  {{model.publicly_accessible_walkway}} <br>
  {{model.seating}} <br>
  {{model.shore_public_walkway}} <br>
  {{model.trash_receptacles}} <br>
  {{model.trees}}
</div>
