<div class="content-close-button-container">{{#link-to 'index' classNames='close-button'}}<span aria-hidden="true">&times;</span>{{/link-to}}</div>

<div class="content-area cell large-5 large-cell-block-y xxlarge-4">
  <h1>{{model.park_name}}</h1>

  {{model.address}} <br>

  {{model.agency}} <br>

  {{model.paws_id}} <br>

  {{model.category}} <br>

  {{model.status}} <br>

  {{model.water_body}} <br>
</div>
