<div class="content-close-button-container">
  {{#link-to 'index' class="content-close-button"}}×{{/link-to}}
</div>

<div class="content cell large-5 large-order-3">

  <h2>Discover NYC’s publicly accessible waterfront spaces</h2>

  <p class="lead">The Waterfront Access Map provides information about the City’s existing <strong>{{model.total_count}}</strong> publicly accessible waterfront spaces&mdash;including <strong>{{model.publiclyowned_count}}</strong> on public property and <strong>{{model.paws_count}}</strong> on private property&mdash;and spaces that have been approved by the City, but have yet to be constructed.</p>

  <p>Find new waterfront spaces you may not known were publicly accessible, learn about spaces with specific amenities, and report any issues with these spaces remaining accessible and well maintained.</p>

  <h4 class="header-medium no-margin">Waterfront Public Access Areas</h4>
  <p>Since 1993, zoning regulations have required public access to the City’s waterfronts and waterways as a condition of some forms of development on privately owned waterfront zoning lots, known as Waterfront Public Access Areas (WPAAs).</p>

  <strong>{{link-to 'Learn more about waterfront zoning...' 'waterfront-zoning-for-public-access' class="button gray expanded"}}</strong>

  <h4 class="header-medium no-margin">Public Parks and Facilities</h4>
  <p>For publicly accessible waterfront sites on public property, a link is provided to additional information on the website of the agency under whose jurisdiction that property falls.</p>

</div>

{{outlet}}
