<div class="content-close-button-container">
  {{#link-to 'index' class="content-close-button"}}×{{/link-to}}
</div>

<div class="content cell large-5 large-order-3">

  <h2>Discover NYC’s 520 Miles of Waterfront</h2>

{{!--   <p class="lead">Find new waterfront spaces you may not have known were publicly accessible, learn about spaces with specific amenities, and report any issues with these spaces remaining accessible and well maintained.</p> --}}

  <p class="lead">This interactive map is designed to help NYC residents and visitors locate and learn more about the diverse mix of publicly-accessible waterfront space available throughout the City. You can also learn where specific amenities are available, locate boating and in-water recreation opportunities, and get more information on how these spaces are created and maintained.</p>

  <h4 class="header-medium small-margin-bottom">Waterfront Public Access Areas <small>(WPAAs)</small></h4>
  <p class="text-small">Since <strong>{{link-to 'waterfront zoning' 'waterfront-zoning-for-public-access'}}</strong> introduced public access requirements 25 years ago, over 1.25 million square feet of WPAAs have been constructed through the City's coordination with private property owners, including the new <strong>{{link-to 'Domino Park' 'profiles.show' 3010011}}</strong> and <strong>{{link-to 'Pier 17' 'profiles.show' 1010003}}</strong>. Additionally, 5.4 million square feet of publicly accessible space has been approved by the City to be constructed.</p>

  <h4 class="header-medium small-margin-bottom">Public Parks and Facilities</h4>
  <p class="text-small">In addition to creating waterfront zoning, the City has invested significantly in waterfront access. City Capital agencies like EDC, DOT, and DEP provide 6.2 million square feet of waterfront parkland, adding critically needed access in underserved communities such as Sunset Park, St. George, Greenpoint, and the South Bronx. Additionally, NYC Department of Parks and Recreation (DPR) and State and Federal Parks agencies maintain 180 existing waterfront parks&mdash;over 700 million square feet of public parks, beaches, and open space&mdash;along the City’s 520 miles of waterfront.</p>

  <hr />
  
  <p>Here's a list of the recently certified sites:</p>

  <p>{{fa-icon 'info-circle' class="dark-gray"}} For more information or comments, please contact <a href="mailto:NYC520@planning.nyc.gov">NYC520@planning.nyc.gov</a>. To let <a href="https://twitter.com/nycplanninglabs" target="_blank">Planning Labs</a> know how this app could be better, <a href="https://github.com/NYCPlanning/labs-waterfront-access/issues" target="_blank">add a GitHub Issue</a></p>

  <hr />
  <p class="text-small"><em>The Waterfront Access Map was developed by the City of New York using NYC open data and other public data sources and is provided solely for informational purposes. The City makes no representation as to the accuracy of the information or to its suitability for any purpose. The City disclaims any liability for errors that may be contained herein and shall not be responsible for any damages consequential or actual, arising out of or in connection with the use of this information. The City makes no warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose as to the quality, content, accuracy, or completeness of the information, text graphics, links and other items contained in the Waterfront Access Map.</em></p>

</div>

{{outlet}}
