{{#labs-ui/site-header
  responsiveNav=true
  responsiveSize='medium'
  as |banner|
}}
  {{#banner.title}}
    <a class='site-title'>Waterfront Access Map</a>
  {{/banner.title}}
  {{#banner.nav}}
    <ul class="menu vertical medium-horizontal">
      <li>{{link-to 'About' 'about'}}</li>
    </ul>
  {{/banner.nav}}
{{/labs-ui/site-header}}

<div class="site-main grid-x has-content-open">
  {{#labs-search
    searchPlaceholder='Search...'
    onSelect=(action 'handleSearchResult')
    onHoverResult=(action 'handleSearchResultHover')
    onHoverOut=(action 'handleSearchHoverOut')
    searchTerms=searchTerms
    onClear=(action 'handleSearchClear')
    typeTitleLookup=(hash
      lot='Addresses'
      waterfront-park-name='Park Name')
    as |search|}}
    {{#if (eq search.result.type 'lot')}}
        <span class="icon tax-lot"></span> <span class="subdued">{{search.result.label}}</span>
      {{else if (eq search.result.type 'waterfront-park-name')}}
        {{search.result.label}}
    {{/if}}
  {{/labs-search}}

  <div class="map-container cell medium-auto large-order-2">
    {{#labs-map
      id='map'
      initOptions=(hash
        zoom=10
        center=(array -73.96532400540775 40.709710016659386)
      )
      mapLoaded=(action 'handleMapLoad') as |map|
    }}

      {{#if geocodedFeature}}
        {{#map.source options=geocodedFeature as |source|}}
          {{source.layer layer=geocodedLayer}}
        {{/map.source}}
      {{/if}}

        {{#map.labs-layers
          layerGroups=model.layerGroups
          onLayerClick=(action 'handleLayerClick')
          as |layers|}}
            {{#layers.tooltip as |tooltip|}}
              {{tooltip-renderer feature=tooltip.feature template=tooltip.layer.tooltipTemplate}}
            {{/layers.tooltip}}
        {{/map.labs-layers}}

    {{/labs-map}}
  </div>

  <div class="map-sidebar cell large-order-1">
    {{#labs-ui/layer-groups-container title='Layer Groups Container Title'}}

      {{#labs-ui/layer-group-toggle
        label='Layer Group Label'
        tooltip='This is the layer group tooltip'
        icon=model.exampleIcon
        active=true
      }}
      {{/labs-ui/layer-group-toggle}}

    {{/labs-ui/layer-groups-container}}
  </div>

  {{outlet}}

</div>
