{{#labs-ui/site-header
  responsiveNav=true
  responsiveSize='medium'
  as |banner|
}}
  {{#banner.title}}
    {{link-to 'Waterfront Access Map' 'index' class="site-title"}}
  {{/banner.title}}
  {{#banner.nav}}
    <ul class="menu vertical medium-horizontal">
      <li>{{link-to 'About' 'about'}}</li>
      <li>{{link-to 'Waterfront Zoning' 'waterfront-zoning-for-public-access'}}</li>
      <li>{{link-to 'Data' 'data'}}</li>
    </ul>
  {{/banner.nav}}
{{/labs-ui/site-header}}

<div class="site-main grid-x has-content-open">
  {{#labs-search
    searchPlaceholder='Search...'
    onSelect=(action 'handleSearchSelect')
    searchTerms=searchTerms
    typeTitleLookup=(hash
      lot='Addresses'
      waterfront-park-name='Park Name')
    onClear=(action (mut geocodedFeature null))
    class="search-container"
    as |search|}}
    {{#if (eq search.result.type 'lot')}}
      <span class="icon tax-lot"></span> <span class="subdued">{{search.result.label}}</span>
    {{else if (eq search.result.type 'waterfront-park-name')}}
      {{search.result.label}}
    {{/if}}
  {{/labs-search}}

  <div class="map-container cell medium-auto large-order-2">
    {{#labs-map
      id='map'
      initOptions=(hash
        zoom=10
        center=(array -73.96532400540775 40.709710016659386)
        hash=true
      )
      mapLoaded=(action 'handleMapLoad') as |map|
    }}
      {{#if geocodedFeature}}
        {{#map.source options=geocodedFeature as |source|}}
          {{source.layer layer=geocodedLayer}}
        {{/map.source}}
      {{/if}}

      {{#if shouldFitBounds}}
        {{map.call 'fitBounds' mainMap.bounds mainMap.isSelectedBoundsOptions}}
      {{/if}}

      {{#map.labs-layers
        layerGroups=model.layerGroups
        onLayerClick=(action 'handleLayerClick')
        as |layers|}}
          {{#layers.tooltip as |tooltip|}}
            {{tooltip-renderer feature=tooltip.feature template=tooltip.layer.tooltipTemplate}}
          {{/layers.tooltip}}
      {{/map.labs-layers}}

      {{!-- Ad-hoc source and layer for developmentSite --}}
      {{#if highlightedFeature}}
        {{#map.source options=(mapbox-geojson-source highlightedFeature) as |source|}}
          {{source.layer
            layer=highlightedFeatureLayer
            before='boundary_country'
          }}
        {{/map.source}}
      {{/if}}
    {{/labs-map}}
  </div>

  <div class="map-sidebar cell large-order-1">
    {{#labs-ui/layer-groups-container title='Publicly Accessible Waterfront'}}

      {{#lookup-layer-group for='waterfront-access--wpaas' as |layerGroup|}}
        {{#labs-ui/layer-group-toggle
          label=layerGroup.model.legend.label
          tooltip=layerGroup.model.legend.tooltip
          active=layerGroup.model.visible
          icon=layerGroup.model.legend.icon
        }}
          {{labs-ui/legend-items items=layerGroup.model.legend.items}}
        {{/labs-ui/layer-group-toggle}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='waterfront-access--publicly-owned' as |layerGroup|}}
        {{#labs-ui/layer-group-toggle
          label=layerGroup.model.legend.label
          tooltip=layerGroup.model.legend.tooltip
          active=layerGroup.model.visible
          icon=layerGroup.model.legend.icon
        }}
        {{/labs-ui/layer-group-toggle}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='waterfront-access--entry-points' as |layerGroup|}}
        {{#labs-ui/layer-group-toggle
          label=layerGroup.model.legend.label
          active=layerGroup.model.visible
          icon=layerGroup.model.legend.icon
        }}
        {{/labs-ui/layer-group-toggle}}
      {{/lookup-layer-group}}

    {{/labs-ui/layer-groups-container}}

    {{#labs-ui/layer-groups-container title='Filter Spaces' open=false}}

    {{/labs-ui/layer-groups-container}}

    {{#labs-ui/layer-groups-container title='Wayfinding'}}

      {{#lookup-layer-group for='bike-routes' as |layerGroup|}}
        {{#labs-ui/layer-group-toggle
          label=layerGroup.model.legend.label
          active=layerGroup.model.visible
          icon=layerGroup.model.legend.icon
        }}
        {{/labs-ui/layer-group-toggle}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='subway' as |layerGroup|}}
        {{#labs-ui/layer-group-toggle
          label=layerGroup.model.legend.label
          active=layerGroup.model.visible
        }}
        {{/labs-ui/layer-group-toggle}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='aerials' as |layerGroup|}}
        {{#labs-ui/layer-group-toggle
          label='2016 Aerials'
          active=layerGroup.model.visible
        }}
        {{/labs-ui/layer-group-toggle}}
      {{/lookup-layer-group}}

    {{/labs-ui/layer-groups-container}}
  </div>

  {{outlet}}

</div>
